<% include ./partials/header %>
<% var totals = []; %>
<% var totalEnds = 0; %>
<% var date = "" %>

<% var percentScores = {ten: 0, nine: 0, eight: 0, allothers: 0}; %>

<% var startTime = 0; %>
<% var endTime = 0; %>

<% function totalScores(score) { %>
    <% var total = 0; %>
    <% score.forEach(function(i) { %>
    <%      total += Number(i); %>
    <%      var sc = Number(i); %>
    <%      if (sc === 10) { %>
    <%          percentScores.ten += 1; %>
    <%        } else if (sc === 9) { %>
    <%          percentScores.nine += 1; %>
    <%        } else if (sc === 8) { %>
    <%          percentScores.eight += 1; %>
    <%        } else { %>
    <%          percentScores.allothers += 1; %>
    <%          } %>

    <% }); %>
    <% totals.push(total); %>
    <% return total; %>
<% } %>

<% function runningTotal(tot) {         %>
<%    var sum = 0;                     %>
<%    tot.forEach(function(i) {         %>
<%        sum += i;                     %>
<%    });                             %>
<%    return sum;                     %>
<% }                                %>

<% function calcAverage(x, y) {        %>
<%    return Math.round(x / y.length); %>
<% } %>

<% function time(seconds) { %>
<%    var sec_num = parseInt(seconds, 10); // don't forget the second param %>
<%    var hours   = Math.floor(sec_num / 3600); %>
<%    var minutes = Math.floor((sec_num - (hours * 3600)) / 60); %>
<%    var seconds = sec_num - (hours * 3600) - (minutes * 60); %>
<%    if (hours   < 10) {hours   = "0"+hours;} %>
<%    if (minutes < 10) {minutes = "0"+minutes;} %>
<%    if (seconds < 10) {seconds = "0"+seconds;} %>
<%    var time    = hours+':'+minutes; %>
<%    return time; %>
<% } %>

<% filtarchery.forEach(function(end) { %>
<%    totalEnds += 1; %>
<% if (startTime < end.order) { %>
        <%     startTime = end.order; %>
        <% } else { %>
        <%    endTime = end.order; %>
        <% } %>
<%  totalScores(end.scores) %>
<% date = end.date %>
<% }); %>

<div class="container">
    
    
    <h2 class="text-right">Quick Stats for <%= date.slice(4,15) %></h2>
     
     <table class="table table-bordered qstable">
             <tr>
                 <td><p>Tens</p>
                 <p class="quickstats"><%= Math.round((percentScores.ten / (totalEnds * 6)) * 100) %>%</p>
                 <p class="arrow-breakdown"><%= percentScores.ten %> / <%= (totalEnds * 6) %></p>
                 </td>
                 <td><p>Nines</p>
                 <p class="quickstats"><%= Math.round((percentScores.nine / (totalEnds * 6)) * 100) %>%</p>
                 <p class="arrow-breakdown"><%= percentScores.nine %> / <%= (totalEnds * 6) %></p>
                 </td>
                 <td><p>Eights</p>
                 <p class="quickstats"><%= Math.round((percentScores.eight / (totalEnds * 6)) * 100) %>%</p>
                 <p class="arrow-breakdown"><%= percentScores.eight %> / <%= (totalEnds * 6) %></p>
                 </td>
             </tr>
             <tr>
                 <td>
                     <p>Total Ends</p>
                     <p class="quickstats"><%= totalEnds %></p>
                     <p class="arrow-breakdown">Arrows: <%= (totalEnds * 6) %></p>
                 </td>
                 <td>
                     <p>Average Score</p>
                     <p class="quickstats"><%= calcAverage(runningTotal(totals), totals) %></p>
                 </td>
                 <td>
                     <p>Total Shooting Time</p>
                     <% if ((startTime - endTime) > 60000) { %>
                         <p class="quickstats"> - </p>
                     <% } else { %>
                     <p class="quickstats"><%= time(startTime - endTime) %></p>
                     <% } %>
                 </td>
             </tr>
     </table>

        <h3 class="text-right">Score Detail</h3>
   
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Target</th>
                <th>Scores</th>
                <th>Total</th> 
            </tr>
        </thead>
       
<% filtarchery.forEach(function(score) { %>
<% Number(score); %>
        <% var dateString = score.date.slice(0,24) %>
        <% totalEnds += 1; %>
    <td><%= dateString %></td>
    <td><a href="filter/<%= score.target_type %>"><%= score.target_type %></a></td>
    <td><%= score.scores; %></td>
    <td><%= totalScores(score.scores) %></td></tr>
    
<% }); %>
    </table>
     
<a href="/"><span class="backarrow"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</span></a>
    
    

     
</div>
<% include ./partials/footer %>